
@{
    ViewBag.Title = "Index";
}

<ul class="nav nav-tabs">
    <li><a data-toggle="tab" href="#firstTab">View All</a></li>
    <li class="active"><a data-toggle="tab" href="#secondtab">Add New</a></li>
</ul>
<div class="tab-content">
    <div id="firstTab" class="tab-pane fade in active"> @Html.Action("ViewAll")</div>
    <div id="secondtab" class="tab-pane fade in active"> @Html.Action("AddOrEdit")</div>
</div>

@section scripts {
    <script>
        function jQueryAjaxPost(form) {
            $.validator.unobstrusive.parse(form);
            alert("Zinaenda")
            if ($(form).valid()) {
                var ajaxConfig = {
                    type: 'POST',
                    url: form.action,
                    data: new FormData(form),
                    success: function (response) {
                        alert("imefika");
                        if (response.success) {
                            $("#firstTab").html(response.html);
                            refreshAddNewTab($(form).attr('data-restUrl'), true)

                            //succes message
                            Swal({
                                icon: 'info',
                                title: 'Saved',
                                text: response.message
                            });
                        }
                        else {
                            //error message
                            Swal({
                                icon: 'error',
                                title: 'Failed!',
                                text: response.message
                            });
                        }
                    }
                }
                if ($(form).attr('enctype') == "multipart/form-data") {
                    ajaxConfig["contentType"] = false;
                    ajaxConfig["processType"] = false;
                }
                $.ajax(ajaxConfig);

            }
            alert("kaesio")
            return false;
        }
    </script>

    @Scripts.Render("~/bundles/jqueryval")
}