@{
    ViewBag.Title = "Confirm Email";
}

<div class="row">
    <div class="col-md-7">
        @{
            Html.RenderPartial("_Image");
        }
    </div>
    <div class="col-md-5" style="float:right;">
        <div class="container">
            <br />
            @{
                Html.RenderPartial("_Feedback1");
            }
            <br />
            <h4>@ViewBag.Title.</h4>
            <div>
                <p>
                    Thank you for confirming your email. Please @Html.ActionLink("Click here to Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
                </p>
            </div>
        </div>
    </div>
</div>





