@{
    ViewBag.Title = "Forgot Password Confirmation";
}

<div class="row">
    <div class="col-md-7">
        @{
            Html.RenderPartial("_Image");
        }
    </div>
    <div class="col-md-5" style="float:right;">
        <div class="container">
            <br />
            @{
                Html.RenderPartial("_Feedback1");
            }
            <br />
            <h2>@ViewBag.Title.</h2>
            <div>
                <p>
                    Please check your email to reset your password.
                </p>
            </div>
        </div>
    </div>
</div>
