@{
    ViewBag.Title = "Reset password confirmation";
}
@{
    Html.RenderPartial("_Feedback1");
}
<div class="row">
    <div class="col-md-7">
        @{
            Html.RenderPartial("_Image");
        }
    </div>
    <div class="col-md-5" style="float:right;">
        <div class="container">
            <br />
            <h4>@ViewBag.Title.</h4>
            <div>
                <p>
                    Your password has been reset. Please @Html.ActionLink("click here to log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
                </p>
            </div>
        </div>
    </div>
</div>
