<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="E_Recruitment_Portal.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=AGILEDB\DEVELOPER; pwd=Agiledev1; Persist Security Info=True; uid=sa ; Initial Catalog=KDBRecruitment PortalDB;" providerName="System.Data.SqlClient" />
    <!--<add name="DefaultConnection" connectionString="Data Source=AGILE-LPT31; pwd=sa; Persist Security Info=True; uid=sa ; Initial Catalog=KDBRecruitment PortalDB;" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />

    <add key="MailFromAddress" value="erp@agilebiz.co.ke" />
    <add key="MailUsername" value="erp@agilebiz.co.ke" />
    <add key="MailDisplayName" value="KDB Recruitment" />
    <add key="Regards" value="KDB HR" />
    <add key="MailPassword" value="cykmtyqtnxvrmnhp" />
    <add key="MailServer" value="smtp.office365.com" />
    <add key="MailPort" value="587" />
    <add key="EmailLogo" value="logo.png" />
    <add key="CompanyLogo" value="clogo.png" />
    <add key="PortalName" value="Recruitment Portal" />
    <add key="CompanyName" value="Kenya Dairy Board" />
    <add key="CompanyWebsite" value="https://www.kdb.go.ke/" />
    <add key="UploadPath" value="C:\Uploads\" />
    <add key="UploadUrl" value="https://portaldocs.agilebiz.co.ke/" />

    <add key="SoapUsername" value="erp" />
    <add key="SoapPassword" value="Pass@7046." />
    <add key="Path" value="http://agileoffice.agilebiz.co.ke:12347/KMRC/WS/KMRC%20TEST/" />

    <add key="Path1" value="\\AGILEWEB\Downloads\" />
    <add key="FilePath" value="~/Uploads/" />
  </appSettings>
  <system.web>
    <authentication mode="None" />
    <compilation debug="true" targetFramework="4.7.2" />
    <!--<httpRuntime targetFramework="4.7.2" />-->
    <httpRuntime maxRequestLength="102400" />
  </system.web>
  <system.webServer>
    <modules>
      <remove name="FormsAuthentication" />
    </modules>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <applicationSettings>
    <E_Recruitment_Portal.Properties.Settings>
      <setting name="E_Recruitment_Portal_RecruitmentCard_RecruitmentCard_Service"
        serializeAs="String">
        <value>http://agileoffice.agilebiz.co.ke:12347/KMRC/WS/KMRC%20TEST/Page/RecruitmentCard</value>
      </setting>
      <setting name="E_Recruitment_Portal_ApplicantCard_ApplicantCard_Service"
        serializeAs="String">
        <value>http://agileoffice.agilebiz.co.ke:12347/KMRC/WS/KMRC%20TEST/Page/ApplicantCard</value>
      </setting>
      <setting name="E_Recruitment_Portal_RiskCard_RiskCard_Service"
        serializeAs="String">
        <value>http://agileoffice.agilebiz.co.ke:12347/KMRC/WS/KMRC%20TEST/Page/RiskCard</value>
      </setting>
      <setting name="E_Recruitment_Portal_CountriesRegions_CountriesRegions_Service"
        serializeAs="String">
        <value>http://agileoffice.agilebiz.co.ke:12347/KMRC/WS/KMRC%20TEST/Page/CountriesRegions</value>
      </setting>
      <setting name="E_Recruitment_Portal_Recruitment_Recruitment_Service"
        serializeAs="String">
        <value>http://agileoffice.agilebiz.co.ke:12347/KMRC/WS/KMRC%20TEST/Page/Recruitment</value>
      </setting>
      <setting name="E_Recruitment_Portal_ApplicantJobEducation_ApplicantJobEducation_Service"
        serializeAs="String">
        <value>http://agileoffice.agilebiz.co.ke:12347/KMRC/WS/KMRC%20TEST/Page/ApplicantJobEducation</value>
      </setting>
      <setting name="E_Recruitment_Portal_FieldsofStudy_FieldsofStudy_Service"
        serializeAs="String">
        <value>http://agileoffice.agilebiz.co.ke:12347/KMRC/WS/KMRC%20TEST/Page/FieldsofStudy</value>
      </setting>
      <setting name="E_Recruitment_Portal_Qualifications_Qualifications_Service"
        serializeAs="String">
        <value>http://agileoffice.agilebiz.co.ke:12347/KMRC/WS/KMRC%20TEST/Page/Qualifications</value>
      </setting>
      <setting name="E_Recruitment_Portal_ProfMembership_ProfMembership_Service"
        serializeAs="String">
        <value>http://agileoffice.agilebiz.co.ke:12347/KMRC/WS/KMRC%20TEST/Page/ProfMembership</value>
      </setting>
      <setting name="E_Recruitment_Portal_ApplicantJobProfessionalCourse_ApplicantJobProfessionalCourse_Service"
        serializeAs="String">
        <value>http://agileoffice.agilebiz.co.ke:12347/KMRC/WS/KMRC%20TEST/Page/ApplicantJobProfessionalCourse</value>
      </setting>
      <setting name="E_Recruitment_Portal_CompanyJobIndustries_CompanyJobIndustries_Service"
        serializeAs="String">
        <value>http://agileoffice.agilebiz.co.ke:12347/KMRC/WS/KMRC%20TEST/Page/CompanyJobIndustries</value>
      </setting>
      <setting name="E_Recruitment_Portal_AcademicQualifications_AcademicQualifications_Service"
        serializeAs="String">
        <value>http://agileoffice.agilebiz.co.ke:12347/KMRC/WS/KMRC%20TEST/Page/AcademicQualifications</value>
      </setting>
      <setting name="E_Recruitment_Portal_ApplicantHobbies_ApplicantHobbies_Service"
        serializeAs="String">
        <value>http://agileoffice.agilebiz.co.ke:12347/KMRC/WS/KMRC%20TEST/Page/ApplicantHobbies</value>
      </setting>
      <setting name="E_Recruitment_Portal_Referees_Referees_Service"
        serializeAs="String">
        <value>http://agileoffice.agilebiz.co.ke:12347/KMRC/WS/KMRC%20TEST/Page/Referees</value>
      </setting>
      <setting name="E_Recruitment_Portal_ApplicantJobprofessionalmembership_ApplicantJobprofessionalmembership_Service"
        serializeAs="String">
        <value>http://agileoffice.agilebiz.co.ke:12347/KMRC/WS/KMRC%20TEST/Page/ApplicantJobprofessionalmembership</value>
      </setting>
      <setting name="E_Recruitment_Portal_ApplicantJobExperience_ApplicantJobExperience_Service"
        serializeAs="String">
        <value>http://agileoffice.agilebiz.co.ke:12347/KMRC/WS/KMRC%20TEST/Page/ApplicantJobExperience</value>
      </setting>
      <setting name="E_Recruitment_Portal_Jobsapplied_Jobsapplied_Service"
        serializeAs="String">
        <value>http://agileoffice.agilebiz.co.ke:12347/KMRC/WS/KMRC%20TEST/Page/Jobsapplied</value>
      </setting>
      <setting name="E_Recruitment_Portal_OnlinePortal_OnlinePortal"
        serializeAs="String">
        <value>http://agileoffice.agilebiz.co.ke:12347/KMRC/WS/KMRC%20TEST/Codeunit/OnlinePortal</value>
      </setting>
      <setting name="E_Recruitment_Portal_ProfMemberships_ProfMemberships_Service"
        serializeAs="String">
        <value>http://kmrcapp.kmrc.co.ke:7047/KMRC/WS/KMRC%20TEST/Page/ProfMemberships</value>
      </setting>
      <setting name="E_Recruitment_Portal_CompanyJobCard_CompanyJobCard_Service"
        serializeAs="String">
        <value>http://kmrcapp.kmrc.co.ke:7047/KMRC/WS/KMRC%20TEST/Page/CompanyJobCard</value>
      </setting>
      <setting name="E_Recruitment_Portal_CountyList_CountyList_Service"
        serializeAs="String">
        <value>http://192.168.88.8:23802/KDB_LIVE/WS/KDBTEST/Page/CountyList</value>
      </setting>
      <setting name="E_Recruitment_Portal_Applicantjobapplied_Applicantjobapplied_Service"
        serializeAs="String">
        <value>http://192.168.88.8:23802/KDB_LIVE/WS/KDBTEST/Page/Applicantjobapplied</value>
      </setting>
    </E_Recruitment_Portal.Properties.Settings>
  </applicationSettings>
</configuration>